.container {
	position: fixed;
	z-index: 5;
	bottom: 50px;
	right: 30px;
	display: flex;
	flex-direction: column;
	background-color: blueviolet;
	border-radius: 10px;
}

.icon {
	width: 30px;
	height: 30px;
	color: white;
}

.zoomIcon {
	width: 20px;
	height: 20px;
	color: white;
}

.button {
	background-color: none;
	border: none;
	outline: none;
	background: none;
	border-radius: 50%;
	cursor: pointer;
}

.zoomContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding: 10px;
	background-color: rgb(50, 0, 114);
}
