.anime-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os cartões */
  margin-top: 1.5rem;
}

.anime-card {
  flex-basis: calc(100% - 10px); /* Por padrão, em telas pequenas, 1 imagem por linha */
  margin: 5px;
  max-width: 100%; /* Previne que o cartão ultrapasse os limites da tela */
}

.anime-img {
  width: 100%;
  max-width: 300px; /* Largura máxima da imagem */
  height: auto; /* Mantém o aspect ratio da imagem */
  border-radius: 0.5rem;
  display: block; /* Remove qualquer espaço abaixo da imagem */
  margin: 0 auto; /* Centraliza a imagem dentro do cartão */
}

/* Telas médias */
@media (min-width: 600px) {
  .anime-card {
    flex-basis: calc(50% - 10px); /* 2 imagens por linha */
  }
}

/* Telas grandes */
@media (min-width: 900px) {
  .anime-card {
    flex-basis: calc(33% - 10px); /* 3 imagens por linha */
  }
}
