main {
  margin: 20px auto;
  margin-top: 0;
  width: 60%;
  padding: 20px;
  color: #fff;
}

.chapter-page {
  width: 100%;
  margin-bottom: 1rem;
}

.chapter-button {
  margin: 0.5rem;
}

.prev-button, .next-button, .horizontal-button, .vertical-button {
  width: 50%;
  border-radius: 0;
  color: #d6cd80;
}

.next-button, .vertical-button {
  border-radius: 0 1rem 1rem 0;
}

.prev-button, .horizontal-button {
  border-radius: 1rem 0 0 1rem;
}

.chapter-select {
  display: block;
  width: 100%;
  padding: 10px 30px 10px 10px;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #242424;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
  appearance: none;
}
