@font-face {
	font-family: 'JujutsuKaisen';
	src: url('./assets/fonts/JujutsuKaisen.ttf') format('truetype');
}

.jujutsu-font {
	font-family: 'JujutsuKaisen', sans-serif;
	text-shadow: 0px 0.5px 0px #d6cd80;
}