.event-card {
    background-color: black;
    border-radius: 1rem;
    padding: 1rem;
}

.events-container {
    display: grid;
    margin-top: 1rem;
    gap: 1rem;

    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 1024px) {
        grid-template-columns: repeat(1, 1fr);
    }

}

.info-container {
    display: grid;
    margin-top: 1rem;
    gap: 1rem;

    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

}